.table {
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(rgb(63,207,252), rgb(31,169,251)) ;
    box-shadow: 0 2px 5px 0 #333;
    margin: 25px;
    width: 360px;
    font-size: 1.6em;
    flex-grow: 0;
    flex-shrink: 0;
}

.participants {
    min-height: 150px;
    box-shadow: inset 0 0 12px #000000;
    border-radius: 2px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.participants > img {
    margin: 2px;
}
